<%include ./partials/header%>
    <div class="right w-full h-full relative px-6 flex flex-wrap">
        <div class="tags relative flex px-6 py-3 gap-3 items-center overflow-x-auto">
            <i
                class="ri-arrow-left-s-line bg-zinc-100 rounded-full h-[5%] top-[8.6%] flex items-center justify-center aspect-square fixed left-60"></i>
            <i
                class="ri-arrow-right-s-line bg-zinc-100 rounded-full h-[5%] top-[8.6%] flex items-center justify-center aspect-square fixed right-3"></i>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">All</h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Mixes
            </h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Gaming
            </h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Lo-fi
            </h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Mantras
            </h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Live</h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Pritam
                Chakraborty</h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Bollywood
                Music</h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Satsang
            </h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Dramedy
            </h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">News</h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Rituals
            </h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Lesson
            </h2>
            <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Jai Shree
                Ram</h2>
        </div>
        <div class="videos w-full grid lg:grid-cols-3 grid-cols-2 py-5 gap-4 overflow-y-auto h-[85vh] ">
            <%shuffledVideos.forEach(function(video){%>
                <a class="h-max" href="/video/<%=video._id%>">
                    <div class="video mb-1">
                        <div
                            class="cursor-pointer flex justify-center w-full rounded-xl h-56 bg-zinc-900 mb-2 relative">
                            <%if(video.thumbnail){%>
                                <div class="thumbnail absolute top-0 left-0 w-full h-full z-[9] overflow-hidden bg-zinc-300 rounded-xl">
                                    <img src="/uploads/images/<%=video.thumbnail%>"
                                        class="w-full h-full object-cover" alt="">
                                </div>
                                <%}%>
                            <%if(!video.type){%>
                               
                                <div
                                    class="h-56 w-[96%] rounded-xl -top-2  absolute left-1/2 -translate-x-1/2 bg-zinc-300 ">
                                </div>
                                <div
                                    class="h-56 w-[98%] rounded-xl -top-1  absolute left-1/2 -translate-x-1/2 bg-zinc-400 ">
                                </div>
                                <%}%>
                                <video class="rounded-xl relative h-56 bg-zinc-200 mb-2" src="">
                                </video>
                        </div>
                        <h2 class="leading-tight">
                            <%=video.title%>
                        </h2>
                        <h4 class="text-zinc-500 text-sm"><%=video.user.channel%></h4>
                        <div class="flex gap-1 items-center text-zinc-500">
                            <%if(video.views){%>
                                <h4 class="text-sm">
                                    <%=video.views.length%> views
                                </h4>
                                <i class="ri-circle-fill text-[4px]"></i>
                                <%}%>
                            <h4 class="text-sm"><%=video.timespan%> ago</h4>
                        </div>
                    </div>
                </a>
                <%})%>
                






        </div>

    </div>

    

    <%include ./partials/footer%>