<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channel Content</title>
    <link rel="shortcut icon" href="https://www.youtube.com/s/desktop/050e6796/img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .profile-part button:hover .menu {
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="main h-screen w-full overflow-hidden ">

        <div
            class="upload-overlay hidden z-10 absolute h-full w-full flex items-center justify-center bg-[rgba(0,0,0,.7)]">
            <i onclick="closeOverlay()"
                class="ri-close-line close absolute font-bold md:text-3xl text-xl text-white absolute top-5 right-3 md:right-10"></i>
        </div>
        <nav class="w-full h-[9vh] border-b flex  items-center justify-between px-7 shadow-md">
            <div class="logo flex shrink-0 gap-6 h-full items-center">
                <i class="ri-menu-line text-lg text-zinc-500"></i>
                <img src="https://www.gstatic.com/youtube/img/creator/yt_studio_logo.svg" class="h-[36%] shrink-0"
                    alt="">
            </div>
            <div class="search w-[41%] border border-zinc-300 rounded-md overflow-hidden relative ml-2">
                <i class="ri-search-line absolute text-zinc-400 left-2 top-1/2 -translate-y-1/2"></i>
                <input type="text" class="w-full pl-8 px-5 py-2 text-sm  outline-none "
                    placeholder="Search across your channel">
            </div>
            <div class="profile-part flex gap-5 items-center pl-3 relative">
                <i class="ri-question-line text-2xl text-zinc-600 font-thin"></i>

                <button class="border border-zinc-300 flex items-center">
                    <div class="flex cursor-pointer hover:bg-zinc-200 items-center gap-3 px-2.5 py-1 ">
                        <i class="ri-video-upload-line text-red-400 text-[1.4rem]"></i>
                        <h2 class="sm:block hidden text-md uppercase">Create</h2>
                    </div>
                    <div class="menu absolute top-full w-fit right-[24%] hidden  bg-white border">
                        <h1 onclick="showUploadMediaBox('video')"
                            class="cursor-pointer py-1 px-3 text-start hover:bg-zinc-100"><i
                                class="ri-upload-line mr-3 text-zinc-400"></i>Upload a video</h1>
                        <h1 onclick="showUploadMediaBox('short')"
                            class="cursor-pointer py-1 px-3 text-start hover:bg-zinc-100"><i
                                class="ri-upload-line mr-3 text-zinc-400"></i>Upload a short</h1>
                        <h1 onclick="showCreatePlayistForm()"
                            class="cursor-pointer py-1 px-3 text-start hover:bg-zinc-100"><i
                                class="ri-play-list-add-line mr-3 text-zinc-400"></i>Create Playlist</h1>
                        <h1 class="py-1 px-3 text-start hover:bg-zinc-100"><i
                                class="ri-rfid-line mr-3 text-zinc-400"></i>Go live</h1>
                    </div>
                </button>

                <div class="profileImg w-8 rounded-full overflow-hidden aspect-square">
                    <img class="h-full w-full object-cover"
                        src="https://yt3.googleusercontent.com/ytc/AIdro_nLL25fDR5-cdL6TtITu9iVZxSvmIXk6buqstMq-aQ=s176-c-k-c0x00ffffff-no-rj"
                        alt="">
                </div>
            </div>
        </nav>
        <div class="bottom h-[91vh] flex w-full">
            <div class="left border-r sm:w-[17vw] flex flex-col items-center py-6">
                <div class="profileImg md:h-28 h-16 mb-4 rounded-full overflow-hidden aspect-square">
                    <img class="h-full w-full object-cover"
                        src="https://yt3.googleusercontent.com/ytc/AIdro_lxymYXNITfuoAkr58fuQ1TCLZmjmHSG2IpYX20xw=s176-c-k-c0x00ffffff-no-rj"
                        alt="">
                </div>
                <h1 class="text-sm font-medium">Your Channel</h1>
                <h1 class="text-sm font-medium text-zinc-600">Astha Lodhi</h1>
                <div class="channel-opt w-full max-h-[45vh] h-max mt-6 overflow-y-auto border"></div>
                <div
                    class="flex cursor-pointer hover:bg-zinc-200 w-full md:justify-start justify-center items-center gap-4 py-1.5 px-5">
                    <i class="ri-settings-3-line text-2xl"></i>
                    <h2 class="md:block hidden text-sm md:text-md">Settings</h2>
                </div>
                <div
                    class="flex cursor-pointer hover:bg-zinc-200 w-full md:justify-start justify-center items-center gap-4 py-1.5 px-5">
                    <i class="ri-feedback-line text-2xl"></i>
                    <h2 class="md:block hidden text-sm md:text-md">Send feedback</h2>
                </div>
            </div>
            <div class="right w-[83vw] overflow-y-auto">
                <h1 class="text-2xl font-medium p-5">Channel content</h1>
                <div class="category px-5 border-b border-b-zinc-200 w-full mt-5 flex gap-5 items-center">
                    <h1 onclick="showAll(this,'content')"
                        class="cursor-pointer font-semibold border-b-zinc-900 cursor-pointer text-md py-2 border-b w-fit border-b-2 px-1 hover:border-b-zinc-900 border-b-transparent">
                        Home</h1>
                    <h1 onclick="showAll(this,'video')"
                        class="cursor-pointer font-semibold cursor-pointer text-md py-2 border-b w-fit border-b-2 px-1 hover:border-b-zinc-900 border-b-transparent">
                        Videos</h1>
                    <h1 onclick="showAll(this,'short')"
                        class="cursor-pointer font-semibold cursor-pointer text-md py-2 border-b w-fit border-b-2 px-1 hover:border-b-zinc-900 border-b-transparent">
                        Shorts</h1>
                    <h1 onclick="showAll(this,'playlist')"
                        class="cursor-pointer font-semibold cursor-pointer text-md py-2 border-b w-fit border-b-2 px-1 hover:border-b-zinc-900 border-b-transparent">
                        Playlist</h1>
                </div>
                <div class="filteredVideo px-5">
                    <%mergedAndSorted.forEach(function(video,i){%>
                        <div class="video relative border-b py-3 flex justify-between">
                            <div class="flex gap-24">

                                <h1>
                                    <%=i+1%>
                                </h1>
                                <div class="video-desc flex gap-5">

                                    <%if(video.type){%>

                                        <a href="/video/<%=video._id%>"
                                            class="cursor-pointer border flex justify-center w-40 aspect-video h-max rounded-xl bg-zinc-900 mb-2 relative overflow-hidden">
                                            <%}else{%>
                                                <a href="/playlist/<%=video._id%>"
                                                    class="cursor-pointer border flex justify-center w-40 aspect-video h-max rounded-xl bg-zinc-500 mb-2 relative">
                                                    <div
                                                        class="h-full w-[96%] rounded-xl -top-2 z-[-1] absolute left-1/2 -translate-x-1/2 bg-zinc-300 ">
                                                    </div>
                                                    <div
                                                        class="h-full w-[98%] rounded-xl -top-1 z-[-1] absolute left-1/2 -translate-x-1/2 bg-zinc-400 ">
                                                    </div>
                                                    <%}%>
                                                        <video class="h-full" muted controlsList="nodownload"
                                                            src="/uploads/videos/<%=video.videoName%>"></video>
                                                        <%if(video.thumbnail){%>
                                                            <div
                                                                class="thumbnail overflow-hidden absolute top-0 left-0 w-full h-full bg-zinc-800 flex items-center justify-center rounded-xl">
                                                                <img src="/uploads/images/<%=video.thumbnail%>"
                                                                    class="<%=video.type==='short'?'w-12':'w-full'%> h-full object-cover"
                                                                    alt="">
                                                            </div>
                                                            <%}%>
                                                </a>

                                                <div class="description w-[13vw]">
                                                    <h1 class="font-medium truncate leading-tight">
                                                        <%=video.title%>
                                                    </h1>
                                                    <p class="text-sm text-zinc-400">
                                                        <%= video.description.slice(0,70)+" ..." %>
                                                    </p>
                                                </div>
                                </div>
                            </div>
                            <h1>
                                <%= new Date(video.createdDate).toLocaleDateString('en-US', { month: 'long' ,
                                    day: '2-digit' , year: 'numeric' }) %>
                            </h1>
                            <h1>
                                <%=video.likes.length%> likes
                            </h1>
                            <h1>
                                <%=video.comments.length%> comments
                            </h1>
                            <a href="/video/delete/<%=video._id%>"><i
                                    class="rounded-b-md hover:bg-zinc-100 cursor-pointer py-.5 px-2 text-zinc-700 bg-zinc-200 ri-delete-bin-2-line absolute bottom-4 right-1"></i></a>
                            <i onclick="editBtnClickHandle('<%=video._id%>','<%=video.title%>','<%=video.description%>','<%=video.videoName%>')"
                                class="rounded-t-md hover:bg-zinc-100 cursor-pointer py-.5 px-2 text-zinc-700 bg-zinc-200 ri-edit-line absolute bottom-10 right-1"></i>
                        </div>
                        <%})%>
                </div>
            </div>
        </div>
    </div>







    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
        integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let dynamicForm;

        document.querySelector('.focused').classList.remove("focused", "bg-zinc-300")
        document.querySelector('#studio').classList.add("focused", "bg-zinc-300")


        //--------------- minor onclick events

        function closeOverlay() {
            document.querySelector('.upload-overlay').style.display = "none"
            document.querySelector('.upload-overlay').removeChild(dynamicForm)
            dynamicForm = ''
        }

        function openOverlay() {
            document.querySelector('.upload-overlay').style.display = "flex"
        }

        function setFocus(elem) {
            elem.querySelector('.focus-me').focus()
        }

        function uploadingAnimation() {
            document.querySelector('.upload-overlay .upload-icon').src = 'https://res.cloudinary.com/bytesizedpieces/image/upload/v1656084931/article/a-how-to-guide-on-making-an-animated-loading-image-for-a-website/animated_loader_gif_n6b5x0.gif'
            document.querySelector('.upload-overlay .upload-icon').className = 'upload-icon w-64'
            document.querySelector('.upload-overlay .selectFile').style.backgroundColor = "gray"
            document.querySelector('.upload-overlay .selectFile').classList.add('pointer-events-none')

        }

        // dynamic creation routines

        function createForm(videoId) {
            dynamicForm = document.createElement('form')
            dynamicForm.className = "upload-pannel sm:h-2/3 h-4/5 sm:w-[50rem] w-full bg-zinc-100 flex flex-col relative"
            dynamicForm.setAttribute('action', `/video/details/${videoId}`)
            dynamicForm.setAttribute('method', 'POST')
            dynamicForm.setAttribute('enctype', 'multipart/form-data')
        }

        function showUploadMediaBox(uploadType) {
            dynamicForm = document.createElement('form')
            dynamicForm.className = "upload-pannel sm:h-2/3 h-4/5 sm:w-[50rem] w-full bg-white flex items-center justify-center relative"
            dynamicForm.innerHTML = `
            <input onchange="videoInputChangeHandle(this,'${uploadType}')" type="file" accept="video/*" hidden name="video" id="videoFileInput">
                <div class="description flex flex-col justify-center items-center h-full w-full">
                    <img class="upload-icon w-24 mb-6 h-max" src="https://static.vecteezy.com/system/resources/previews/017/346/149/non_2x/upload-icon-design-free-vector.jpg">
                    <h1 onclick="selectVideoFile()"
                        class="selectFile cursor-pointer md:text-xl text-sm font-medium bg-blue-500 px-4 py-2 rounded text-white">
                        Select a file</h1>
                </div>
            `
            document.querySelector('.upload-overlay').appendChild(dynamicForm)
            openOverlay()

        }

        function showCreatePlayistForm() {
            createForm()
            dynamicForm.action = '/playlist/create'
            dynamicForm.setAttribute('enctype', '')

            let template = ``
            axios.post(`/video/all`)
                .then(response => {
                    response.data.forEach(video => {
                        template += `
                    <div class="flex w-max p-1 px-2 items-center">

                        <input type="checkbox" name="video[]" value="${video._id}" id="">
                        <div class="w-10 h-4 bg-zinc-700 ml-4 mr-2 overflow-hidden rounded-sm">
                            <img class="w-full h-full object-cover" src="/uploads/images/${video.thumbnail}">
                            </div>
                            <h4>${video.title}</h4>
                    </div>
                            `
                    })
                    dynamicForm.innerHTML = `
                        <h1 class="video-title text-xl font-medium px-6 py-3 border-b-2">Create a new playlist</h1>
                        <div class="center w-full overflow-y-auto flex-1 gap-5 px-6 mt-2">
                                <div onclick="setFocus(this)" class="border border-zinc-700 rounded-md p-1 px-3">
                                    <span class="pointer-events-none text-zinc-600 text-[.8rem]">Title (required)</span>
                                    <input class="focus-me video-title-inp bg-transparent w-full outline-none relative text-md" name="title" id=""
                                        placeholder="Enter playlist title." required="true">
                                </div>
                                <div onclick="setFocus(this)" class="border mt-6 border-zinc-700 rounded-md p-1 px-3">
                                    <span class="pointer-events-none text-zinc-600 text-[.8rem]">Description</span>
                                    <textarea class="focus-me bg-transparent w-full text-zinc-900 outline-none relative text-md"
                                        name="description" id="" placeholder="Tell viewers about your video."></textarea>
                                </div>
                                <div class="border mt-6 border-zinc-700 rounded-md p-1 px-3">
                                    <span class="pointer-events-none text-zinc-600 text-[.8rem]">Visibility </span>
                                    <select name="visibility" class="bg-transparent w-full -ml-1 outline-none" required>
                                        <option value="public">Public</option>
                                        <option value="private">Private</option>
                                    </select>
                                </div>
                                <div class="border mt-6 border-zinc-700 rounded-md p-1 px-3">
                                    <span class="pointer-events-none text-zinc-600 text-[.8rem]">Select videos </span>
                                    ${template}
                                </div>
                        </div>
                        <div class="flex justify-end px-4 gap-1.5 py-1 pb-2">
                            <h2 onclick="closeOverlay()" class="px-2 py-1.5 rounded-md cursor-pointer uppercase text-sm font-medium text-zinc-500" >Cancel</h2>
                            <input class="px-2 py-1.5 rounded-md cursor-pointer uppercase text-sm font-medium text-zinc-500" type="submit" value="Create">
                        </div>
                        `

                })

            document.querySelector('.upload-overlay').appendChild(dynamicForm)
            openOverlay()
        }

        // video related routines

        function selectVideoFile() {
            document.querySelector('.upload-overlay #videoFileInput').click();
        }

        function videoInputChangeHandle(input, uploadType) {
            if (document.querySelector("#alert")) {
                document.querySelector("#alert").remove()
            }
            if (input.files[0].type.includes('video')) {
                if (uploadType === 'video') {
                    uploadingAnimation()
                    uploadVideoFile('video');
                } else if (uploadType === 'short') {
                    let video = document.createElement('video');
                    video.src = URL.createObjectURL(input.files[0]);
                    video.addEventListener('loadedmetadata', function () {
                        if (video.duration <= 60) {
                            uploadingAnimation()
                            uploadVideoFile('short')
                        } else {
                            document.querySelector('.upload-overlay .description').innerHTML += '<p id="alert"><i class="ri-alert-line text-red-600 mt-[3px]"></i> Video duration must not exceed 60s.</p>'
                        }
                    });
                }
            } else {
                document.querySelector('.upload-overlay .description').innerHTML += '<p id="alert"><i class="ri-alert-line text-red-600 mt-[3px]"></i> Invalid file format.</p>'
            }


        }

        function uploadVideoFile(uploadType) {
            const file = document.querySelector('#videoFileInput').files[0]
            const videoUrl = URL.createObjectURL(file)
            let formData = new FormData();
            formData.append('video', file);
            formData.append('type', `${uploadType}`);


            fetch('/video/upload', {
                method: 'POST',
                body: formData
            }).then(raw => raw.json())
                .then(function (response) {
                    document.querySelector('.upload-overlay').innerHTML = ''
                    createForm(response._id)
                    dynamicForm.innerHTML = `
                    <div class="flex justify-between px-4 py-2">
                        <h1 class="video-title">${response.title}</h1>
                        <i onclick="closeOverlay() class="ri-close-line text-black text-lg font-medium"></i>
                    </div>
                    <div class="center flex w-full overflow-hidden sm:flex-row flex-col-reverse flex-1 gap-5 px-8 mt-4">
                        <div class="dets sm:w-2/3 h-full overflow-y-auto pr-3">
                            <h1 class="text-2xl font-medium mb-4">Details</h1>
                            <div onclick="setFocus(this)" class="border border-zinc-700 rounded-md p-1 px-3">
                                <span class="pointer-events-none text-[.8rem]">Title (required)</span>
                                <input class="focus-me video-title-inp bg-transparent w-full outline-none relative text-md" name="title" id=""
                                    placeholder="Enter video title." value="${response.title}">
                            </div>
                            <div onclick="setFocus(this)" class="border mt-6 border-zinc-700 rounded-md p-1 px-3">
                                <span class="pointer-events-none text-[.8rem]">Description</span>
                                <textarea class="focus-me bg-transparent w-full text-zinc-900 outline-none relative text-md"
                                    name="description" id="" placeholder="Tell viewers about your video."></textarea>
                            </div>

                            <h2 class="text-md font-medium mt-7">Thumbnail</h2>
                            <input onchange="thumbnailInputChangeHandle(this)" type="file" accept="image/*" hidden name="thumbnail" id="thumbnailFileInput">
                            <div onclick="selectThumbnailFile()" class="thumbnail rounded-t-md max-w-40 mt-2 aspect-video bg-zinc-400">
                                <img src="/uploads/images/add.jpg" class="w-full object-cover h-full" alt="">
                            </div>
                            <h2 class="text-md font-medium mt-7 mb-2">Visibility</h2>
                            <div class="border border-zinc-700 rounded-md py-2 px-3">
                                <div class="flex gap-2 items-center px-1 cursor-pointer w-max mb-2">
                                    <input type="radio" name="visibility" value="private" checked
                                        class="bg-yellow-100 cursor-pointer scale-125">
                                    <label for="" class="cursor-pointer text-sm">Private</label>
                                </div>
                                <div class="flex gap-2 items-center px-1 cursor-pointer w-max">
                                    <input type="radio" name="visibility" value="public"
                                        class="bg-yellow-100 cursor-pointer scale-125">
                                    <label for="" class="cursor-pointer text-sm">Public</label>
                                </div>
                            </div>
                        </div>
                        <div class="video-pannel sm:w-1/3 md:py-10 sm:flex-col flex">
                            <div class="video sm:rounded-t-md rounded-l-md max-w-80 min-w-52 aspect-video h-max">
                                <video preload="metadata" controlsList="nodownload" muted autoplay src="${videoUrl}" class="w-full"></video>
                            </div>
                            <div class="about p-4 bg-zinc-200 max-w-80 sm:min-w-52">
                                <h4 class="text-sm leading-tight text-zinc-500">Video link</h4>
                                <a href=""
                                    class="text-sm leading-tight text-blue-500 break-all break-all">https://youtubecloneblabla.com</a>
                                <h4 class="text-sm leading-tight pt-4 text-zinc-500">Filename</h4>
                                <h4 class="text-sm leading-tight break-all">${response.title}</h4>

                            </div>

                        </div>
                    </div>
                    <div class="flex justify-end px-4 py-1 pb-2">
                        <input class="bg-blue-500 text-white px-5 py-1.5 rounded-md" type="submit" value="Publish">
                    </div>
                    `
                    document.querySelector('.upload-overlay').appendChild(dynamicForm)
                    document.querySelector('.video-title-inp').focus();
                })
        }

        function editBtnClickHandle(videoId, title, description, videoName) {
            createForm(videoId)
            dynamicForm.innerHTML = `
                    <div class="flex justify-between px-4 py-2">
                        <h1 class="video-title">video_title</h1>
                        <i onclick="closeOverlay()" class="ri-close-line text-2xl"></i>
                    </div>
                    <div class="center flex w-full overflow-hidden sm:flex-row flex-col-reverse flex-1 gap-5 px-8 mt-4">
                        <div class="dets sm:w-2/3 h-full overflow-y-auto pr-3">
                            <h1 class="text-2xl font-medium mb-4">Details</h1>
                            <div onclick="setFocus(this)" class="border border-zinc-700 rounded-md p-1 px-3">
                                <span class="pointer-events-none text-[.8rem]">Title (required)</span>
                                <input class="focus-me video-title-inp bg-transparent w-full outline-none relative text-md" name="title" id=""
                                    placeholder="Enter video title." value="${title}">
                            </div>
                            <div onclick="setFocus(this)" class="border mt-6 border-zinc-700 rounded-md p-1 px-3">
                                <span class="pointer-events-none text-[.8rem]">Description</span>
                                <textarea class="focus-me bg-transparent w-full text-zinc-900 outline-none relative text-md"
                                    name="description" id="" placeholder="Tell viewers about your video.">${description}</textarea>
                            </div>

                            <h2 class="text-md font-medium mt-7 mb-2">Visibility</h2>
                            <div class="border border-zinc-700 rounded-md py-2 px-3">
                                <div class="flex gap-2 items-center px-1 cursor-pointer w-max mb-2">
                                    <input type="radio" name="visibility" value="private"
                                        class="bg-yellow-100 cursor-pointer scale-125">
                                    <label for="" class="cursor-pointer text-sm">Private</label>
                                </div>
                                <div class="flex gap-2 items-center px-1 cursor-pointer w-max">
                                    <input type="radio" name="visibility" value="public" checked
                                        class="bg-yellow-100 cursor-pointer scale-125">
                                    <label for="" class="cursor-pointer text-sm">Public</label>
                                </div>
                            </div>
                        </div>
                        <div class="video-pannel sm:w-1/3 md:py-10 sm:flex-col flex">
                            <div class="video sm:rounded-t-md rounded-l-md max-w-80 min-w-52 aspect-video h-max">
                                <video src="/uploads/videos/${videoName}" class="w-full"></video>
                            </div>
                            <div class="about p-4 bg-zinc-200 max-w-80 sm:min-w-52">
                                <h4 class="text-sm leading-tight text-zinc-500">Video link</h4>
                                <a href=""
                                    class="text-sm leading-tight text-blue-500 break-all">https://youtubecloneblabla.com</a>
                                <h4 class="text-sm leading-tight pt-4 text-zinc-500">Filename</h4>
                                <h4 class="text-sm leading-tight">${title}</h4>

                            </div>

                        </div>
                    </div>
                    <div class="flex justify-end px-4 py-1 pb-2">
                        <input class="bg-blue-500 text-white px-5 py-1.5 rounded-md" type="submit" value="Update">
                    </div>
                    `


            document.querySelector('.upload-overlay').innerHTML = ''
            document.querySelector('.upload-overlay').appendChild(dynamicForm)
            document.querySelector('.upload-overlay').style.display = "flex"

        }

        // thumbnail related routines

        function selectThumbnailFile() {
            document.querySelector('.upload-overlay #thumbnailFileInput').click();
        }

        function thumbnailInputChangeHandle(input) {
            if (input.files[0].type.includes('image')) {
                document.querySelector('.thumbnail img').src = URL.createObjectURL(input.files[0])
            }
        }

        function showAll(btn, type) {

            btn.parentNode.querySelectorAll('h1').forEach((e) => {
                e.style.borderBottom = "2px solid transparent"
            })
            btn.style.borderBottom = "2px solid black"

            axios.post(`/showall/${type}`, { userId: '<%=loggedUser._id%>' })
                .then(response => {
                    btn.parentNode.parentNode.querySelector('.filteredVideo').innerHTML = ''
                    let thumbnail = ''
                    response.data.forEach((video, i) => {
                        if (video.thumbnail) {
                            thumbnail = `
                                <div class="thumbnail absolute top-0 left-0 w-full h-full z-[9] overflow-hidden bg-zinc-800 flex justify-center items-center rounded-xl">
                                    <img src="/uploads/images/${video.thumbnail}"
                                        class="${video.type === 'short' ? 'w-12' : 'w-full'} h-full object-cover" alt="">
                                </div>
                                `
                        }
                        if (video.type) {
                            btn.parentNode.parentNode.querySelector('.filteredVideo').innerHTML += `
                        <div class="video relative border-b py-3 flex justify-between">
                                <div class="flex gap-24">

                                    <h1>
                                        ${i + 1}
                                    </h1>
                                    <div class="video-desc flex gap-5">
                                        
                                        <a href="/${video.type ? 'video/' + video._id : 'playlist/' + video._id}"
                                            class="cursor-pointer border flex justify-center w-40 aspect-video h-max rounded-xl bg-zinc-900 mb-2 relative overflow-hidden">
                                            <video class="h-full bg-zinc-600" muted  controlsList="nodownload" src=""></video>
                                            ${thumbnail}
                                            </a>
    
                                        <div class="description w-[13vw]">
                                            <h1 class="font-medium truncate leading-tight">
                                                ${video.title}
                                            </h1>
                                            <p class="text-sm text-zinc-400">
                                                ${video.description.slice(0, 70) + " ..."}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <h1>${new Date(video.createdDate).toLocaleDateString('en-US', { month: 'long', day: '2-digit', year: 'numeric' })}</h1>
                                <h1>
                                    ${video.likes.length} likes
                                </h1>
                                <h1>
                                    ${video.comments.length} comments
                                </h1>
                                <a href="/video/delete/${video._id}"><i
                                        class="rounded-b-md hover:bg-zinc-100 cursor-pointer py-.5 px-2 text-zinc-700 bg-zinc-200 ri-delete-bin-2-line absolute bottom-4 right-1"></i></a>
                                <i onclick="editBtnClickHandle('${video._id}','${video.title}','${video.description}','${video.videoName}')"
                                    class="rounded-t-md hover:bg-zinc-100 cursor-pointer py-.5 px-2 text-zinc-700 bg-zinc-200 ri-edit-line absolute bottom-10 right-1"></i>
                            </div>
                                `
                        } else {

                            btn.parentNode.parentNode.querySelector('.filteredVideo').innerHTML += `
    
                    <div class="video relative border-b py-3 flex justify-between">
                        
                        <div class="flex gap-24">
                                <h1>${i + 1}</h1>
                            <div class="video-desc flex gap-5">
                                <a href="/${type === 'playlist' ? 'playlist' : 'video'}/${video._id}" class="cursor-pointer border flex justify-center w-40 aspect-video h-full rounded-xl bg-zinc-900 mb-2 relative">
                                <div class="h-full w-[96%] rounded-xl -top-2 z-[-1] absolute left-1/2 -translate-x-1/2 bg-zinc-300 "></div>
                                <div class="h-full w-[98%] rounded-xl -top-1 z-[-1] absolute left-1/2 -translate-x-1/2 bg-zinc-400 "></div>
                                    ${thumbnail}
                                </a>
                                <div class="description w-[13vw]">
                                    <h1 class="font-medium truncate leading-tight">
                                    ${video.title}
                                    </h1>
                                    <p class="text-sm text-zinc-400">
                                    ${video.description.length > 70 ? video.description.slice(0, 70) + " ..." : video.description}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <h1>${new Date(video.createdDate).toLocaleDateString('en-US', { month: 'long', day: '2-digit', year: 'numeric' })}</h1>
                                <h1>
                                    ${video.likes.length} likes
                                </h1>
                                <h1>
                                    ${video.comments.length} comments
                                </h1>
                    </div>
                        `

                        }
                    })
                })
        }


    </script>

</body>

</html>